@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    background-color: black;

  }

  @font-face {
    font-family: "Popins", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
  }
}

.scrolled {
  background-color: rgba(0,0,0,0.5);
}
nav {
  position: sticky;
  top: 0;
  height: 80px;
  width: 100%;
  padding: 0 2rem;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 2;
  align-items: center;
  transition: 0.3s ease-in-out;
 
}

