@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    background-color: black;
    color: white;
    overflow-x : hidden;

  }

  @font-face {
    font-family: "Popins", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
  }
}

.scrolled {
  background-color: rgba(0,0,0,0.5);
}
nav {
  position: sticky;
  top: 0;
  height: 80px;
  width: 100%;
  padding: 0 2rem;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 2;
  align-items: center;
  transition: 0.3s ease-in-out;
 
}



.container {
  gap: 1rem;
  position: relative;
  padding: 2rem 0;
}

.container h1 {
  margin-left: 50px;
}

.container .wrapper .slider {
  width: max-content;
  gap: 1rem;
  transform: translateX(0px);
  transition: 0.3s ease-in-out;
  margin-left: 50px;
}

.container .wrapper .slider-action {
  position: absolute;
  z-index: 99;
  height: 100%;
  top: 0;
  bottom: 0;
  width: 50px;
  transition: 0.3s ease-in-out;
}

.container .wrapper .slider-action svg {
  font-size: 2rem;
}

.container .wrapper .none {
  display: none;
}

.container.show-controls .slider-action {
  display: flex;
}

.container .wrapper .slider-action.left {
  left: 0;
}

.container .wrapper .slider-action.right {
  right: 0;
}
